@page "/shoppinglist"

<PageTitle>Shopping List</PageTitle>

<h1>Shopping List</h1>

<EditForm Model="@NewItem" OnSubmit="@HandleSubmitAsync">
  <InputText id="name" @bind-Value="NewItem.Name"/>

  <button type="submit">Add</button>
</EditForm>

<ul class="mt-5">
  @foreach (var item in ShoppingItems)
  {
    <li>
      <span>@item.Name</span>
      <span>
        <button type="button" @onclick="@(() => HandleDeleteAsync(item.Id))">Delete</button>
      </span>
    </li>
  }
</ul>


