@page "/shoppinglist"
@using Microsoft.EntityFrameworkCore;
@using Microsoft.AspNetCore.SignalR.Client;
@using ShoppingList.Web.Data;
@using ShoppingList.Web.Models;
@inject IServiceScopeFactory ScopeFactory;
@inject NavigationManager Navigation
@implements IAsyncDisposable;

<PageTitle>Shopping List</PageTitle>

<h1>Shopping List</h1>

<EditForm Model="@NewItem" OnSubmit="@HandleSubmitAsync">
    <InputText id="name" @bind-Value="NewItem.Name" />

    <button type="submit">Add</button>
</EditForm>

<ul class="mt-5">
@foreach(var item in ShoppingItems)
{
  <li>
    <span>@item.Name</span>
    <span>
        <button type="button" @onclick="@(() => HandleDeleteAsync(item.Id))">Delete</button>
        </span>
  </li>
}
</ul>

@code {
  private HubConnection? hubConnection;
  public ShoppingItem NewItem { get; set; } = new();

  public List<ShoppingItem> ShoppingItems { get; set; } = new();

  protected override async Task OnInitializedAsync()
  {
    using (var scope = ScopeFactory.CreateScope())
    {
      var context = scope.ServiceProvider.GetRequiredService<ApplicationDbContext>();
      ShoppingItems = await context.ShoppingItems.ToListAsync();
    }

    hubConnection = new HubConnectionBuilder()
    .WithUrl(Navigation.ToAbsoluteUri("/shoppingaction"))
    .WithAutomaticReconnect()
    .Build();

    hubConnection.On<ShoppingItemNotification>("ItemListUpdated", (item) =>
    {
      if (item.WasDeleted)
      {
        ShoppingItems.Remove(item);
      }

      if (item.WasAdded)
      {
        ShoppingItems.Add(item);
      }

      InvokeAsync(StateHasChanged);
    });

    await hubConnection.StartAsync();
  }

  private async Task HandleSubmitAsync()
  {
    Console.WriteLine(NewItem.Name);

    if (string.IsNullOrEmpty(NewItem.Name))
    {
      Console.WriteLine("Name cannot be empty for shopping item.");

      return;
    }

    using (var scope = ScopeFactory.CreateScope())
    {
      var context = scope.ServiceProvider.GetRequiredService<ApplicationDbContext>();
      context.ShoppingItems.Add(NewItem);

      await context.SaveChangesAsync();

      var notification = new ShoppingItemNotification(NewItem) { WasAdded = true };

      await hubConnection.InvokeAsync<ShoppingItemNotification>("ItemListUpdated", notification);

      ShoppingItems.Add(NewItem);
    }
  }

  private async Task HandleDeleteAsync(int id)
  {
    using (var scope = ScopeFactory.CreateScope())
    {
      var context = scope.ServiceProvider.GetRequiredService<ApplicationDbContext>();
      var item = await context.ShoppingItems.FirstOrDefaultAsync(s => s.Id == id);

      context.ShoppingItems.Remove(item);

      var notification = new ShoppingItemNotification(NewItem) { WasDeleted = true };

      await hubConnection.InvokeAsync<ShoppingItemNotification>("ItemListUpdated", notification);

      await context.SaveChangesAsync();
    }

  }

  public async ValueTask DisposeAsync()
  {
    
  }
}
